body{
	background:#eaeaea;
	margin:0;
}

div{
	box-sizing: border-box;
}
header{
	background:white;
	padding: 20px;
	width:1200px;
	margin:auto;
	margin-top: 20px;

}

.container h1{
		font-family:"Arial", sans-serif;
}

.post-header h2{
	font-family:"Arial", sans-serif;
	font-size:18px;
}

header h1{
	margin:0;
}

div.post{
	background:white;
	margin-top:40px;
	margin-bottom: 80px;
}

div.post img{
	width:100%;
}

div.post h2,div.post p{
	padding:10px;
	margin:0px;
}

div.post .post-header div:first-child{
	display:inline-block;
	width:80%;
}
div.post .post-header div:last-child{
	display:inline-block;
	width:20%;
	text-align: right;
	padding-right: 10px;
	color: gray;
}


div.container{
	width:600px;
	margin:auto;
}
